name: update report card

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-report-card:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: update go report card
        uses: creekorful/goreportcard-action@v1.0
