name: yaml lint

on:
  pull_request:
    paths:
      - "**/*.yml"
      - "**/*.yaml"

permissions:
  contents: read
  pull-requests: write

jobs:
  yamllint:
    name: runner / yamllint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: yamllint
        uses: reviewdog/action-yamllint@v1.19.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
